.carta_producto{
  width: 100%;
  height: clamp(170px, 50vh, 470px);
  justify-content: center;
  align-items: center;
  background-color: #cfd3e6;
  border-radius: 15px;
  display: flex;
}

/* TARJETA */
.card_exclusivo {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


/* IMAGEN */
.card-img-exclusivo {
    position: relative;
    background: #eaeaea;
    height: 64%;
    border: none;
    margin: 0;
}
.card-img-exclusivo:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.card-img-exclusivo img {
    width: 100%;
    height: 100%;
    display: block;
}


/* ETIQUETAS LATERALES */
.etiquetas_Pexclusivo {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.etiquetas_Pexclusivo span {
    background: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

/* BODY */
.card-body-exclusivo {
    height: 27%;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.descripcion_exclusivo {
    font-size: 12px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #1624eb3d;
}

/* PRECIO */
.precio_exclusivo {
    background: #00e5a8;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 15px;
}

/* STOCK */
.stock_exclusivo {
    background: #00e5a8;
    border-radius: 10px;
    text-align: center;
    display: flex;   
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 15px;
}

/* CONTADOR */
.cantidad_exclusivo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 10px 0;
    color: #2d2f37;
}
.cantidad_exclusivo span {
    background-color: #C9C4F2;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}
.cantidad_exclusivo button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: purple;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* BOTÓN */
.btn-agregar-exclusivo {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;    
    align-items: center;
    background: #DAC0F6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.233);
}
.btn-agregar-exclusivo img{
    width: auto;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .card-img-exclusivo {
        height: 55%;
    }
    .descripcion_exclusivo {
        font-size: 10px;
    }
    .cantidad_exclusivo button{
        height: 20px;
        width: 20px;
    }
    .carta_producto{
        height: clamp(170px, 33vh, 330px);
    }
}