.main_lista{
    height: 100vh;
    width: 100%;
}

.Lista{
    height: calc(100vh - 138px);
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.contenedor_componentess{
  width: 18%;
  height: 100%;
  background-color: #E3E5FA;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(30, 29, 31, 0.219);
    overflow-y: auto;
  overflow-x: hidden;
}
.contenedor_componentess ul{
  height: 100%;
  width: 95%;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contenedor_componentess ul li{
  width: 100%;
  border: #1f31d411 solid 1px;
  border-radius: 10px;
  padding: 5px 10px;
}
.contenedor_componentess ul li a{
  color: #16163F;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.Listaprod{
    width: 82%;
    height: 100%;
    background-color: #E3E5FA;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(30, 29, 31, 0.219);
    overflow-y: auto;
    overflow-x: hidden;
}



@media (min-width: 1024px) {
  .contenedor_componentess ul li a{
    font-size: 13px;
  }
}