.main_principal{
    height: 100vh;
    width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* 2. El fondo de la barra (Track) */
::-webkit-scrollbar-track {
  background: #8484e70a; 
  border-radius: 10px;
}

/* 3. La parte que se mueve (Thumb) */
::-webkit-scrollbar-thumb {
  background: #5f54c091; 
  border-radius: 10px;
}

/* 4. Cuando pasas el mouse sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: #1624eb; 
  cursor: pointer;
  width: 7px;
}

/* SECCIÓN PRINCIPAL */
.seccion_principal {
  height: calc(100vh - 138px);
  width: 100%;
  padding: 12px 45px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.imagen-principal {
  background-color: #cfd3e6;
  border-radius: 25px;
  padding: 15px 25px;
  height: 60%;
}

.titulo-principal {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #2d2f37;
  margin-bottom: 10px;
  height: 5%;
}

.imagen-principal img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}



.categorias_principales {
  background-color: #cfd3e6;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  gap: 20px;
  height: 39%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* CARD INDIVIDUAL */
.categoria {
  flex: 1;
  text-align: center;
  width: 25%;
}
/* TITULO DE CADA CARD */
.categoria p {
  font-weight: bold;
  color: #16163F;
  margin-bottom: 10px;
  font-size: 18px;
}

/* IMAGEN */
.categoria img {
  width: 70%;
  height: 85%;
  object-fit: cover;
  border-radius: 20px;
  object-position: center;
  transition: transform 0.3s ease;
}

/* HOVER */
.categoria img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/*Catalogo*/
.Seccion_catalogo{
  height: calc(100vh - 136px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;  
}
.contenedor_componentes{
  width: 18%;
  height: 95%;
  background-color: #E3E5FA;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(30, 29, 31, 0.219);
    overflow-y: auto;
  overflow-x: hidden;
}
.contenedor_componentes p{
  font-size: 20px;
  font-weight: bold;
  color: #16163F;
}
.contenedor_componentes ul{
  height: 100%;
  width: 95%;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contenedor_componentes ul li{
  width: 95%;
  border: #db101011 solid 1px;
  border-radius: 10px;
  padding: 5px 10px;
  
}
.contenedor_componentes ul li:hover{
  background-color: #d28eec11;
  cursor: pointer;
  transform: scale(1.05);
}
.contenedor_componentes ul li a{
  color: #16163F;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.contenedor_ProductosYofertas{
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productos_contenedor, .ofertas_contenedor{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  background-color: #E3E5FA;
  box-shadow: 0px 0px 5px rgba(30, 29, 31, 0.219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  font-weight: bold;
} 
.productos_contenedor p, .ofertas_contenedor p{
  text-align: center;
  width: 100%;
  margin-top: 4px;
  border-bottom: rgba(0, 0, 0, 0.105) solid 1px;
}
.carta_contenedor{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}


.contenedor_novedades{
  width: 18%;
  height: 95%;
  border-radius: 10px;
  background-color: #E3E5FA;
  box-shadow: 0px 0px 5px rgba(30, 29, 31, 0.219);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.contenedor_novedades p{
  font-size: 20px;
  font-weight: bold;
  color: #16163F;
}
/*MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background: white;
  border-radius: 10px;
  height: 50vh;
  width: 35%;
}

.NombreProd{
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0px 0px;
  background-color: #DBE3FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenidoCentral{
  width: 100%;
  height: 65%;
  display: flex;
}
.ImgProd{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.ImgProd img{
  width: 85%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(30, 29, 31, 0.219);
}
.PrecioProd{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;  
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.preciop{
 font-size: 30px;
 color: red;
}
.cantidad{
 font-size: 20px;
 color: #1624eb;
}
.ContenidoInferior{
  width: 100%;
  height: 25%;
  display: flex;
}
.EspecificacionProd{
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #0033ff1a;
  border-right: #2d2f372d solid 1px;
}
.DescripcionProd{
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #0033ff1a;
}
.cantidad_modal {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.cantidad_modal button {
  padding: 5px 10px;
  border: none;
  background: #A77EED;
  border-radius: 5px;
  cursor: pointer;
}

.cantidad_modal span {
  padding: 5px 15px;
  background: #C9C4F2;
  border-radius: 10px;
}

.btn-carrito-modal {
  margin-left: 15px;
  background: #a78bfa;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .contenedor_componentes ul li a{
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .seccion_principal {
    padding: 20px;
  }

  .categorias_principales {
    flex-direction: column;
  }

  .imagen-principal img {
    height: 200px;
  }
}